<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %p %m %ex%n</pattern>
        </encoder>
    </appender>
    
    <!-- Restrict logging for browser-level -->
    <logger name="io.netty" level="WARN" />
    <logger name="org.asynchttpclient.netty" level="WARN" />

    <root level="TRACE">
        <appender-ref ref="stdout" />
    </root>
</configuration>